@model MusicPlayer.ViewModel.SongIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Genre
        </th>
        <th>
            Album
        </th>
    </tr>

@foreach (var item in Model.Songs) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Name)
        </td>
        <td>
            @Html.ActionLink("Select", "Index", new { id = item.Id }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


@if (Model.Playlists != null)
{
    <h3>
        Playlists
    </h3>
    <tr>
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }
    </tr>
    <table class="table">
        <tr>
            <th>Playlist name</th>
        </tr>
        @foreach (var Playlistitem in Model.Playlists)
        {
            <tr>
                <td>
                    @Playlistitem.Name
                </td>
                <td>
                    @Html.ActionLink("Add or Remove", "Index", new { playlistId = Playlistitem.Id })
                    @*@Html.ActionLink("Remove", "Index", new { playlistId = Playlistitem.Id })*@
                </td>
            </tr>
        }
    </table>
}